@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	outline: none !important;
}
body {
	font-family: 'Poppins', sans-serif;
}

header {
	position: relative;
	z-index: 1000000;
}
p {
	font-size: 1.15rem;
}

.navbar {
	background: blue !important;
	transition: 0.5s;
}
.navbar.scrolled {
	background: #000 !important;
	transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000;
    background: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
	color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 600;
}




.height100p {
	height: 100vh;
}
.h100 {
	height: 100%;
}
.contentBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.contentBox h3 {
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5rem;


}

.contentBox p {
	color: #fff;
	font-size: 1.5rem;
	z-index: 9999;

}


.sec3 {
	margin-top:0;
	padding: 0;
	background: #dfe6e0;
	height: 80vh;
	

}

.sec3 .container {
	width: 100%;
	
}
.sec3 .container .card {
	position: absolute;
	background: #fff;
	margin-top: -200px;
	width: 100%;
	padding: 30px;

	
}

.blog {
	margin-top: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.blog .container {
	width: 100%;
}

.blog .container .headerText {
	margin-top: 120px;
}

.blog .container .headerText h3 {
	text-align: center;
}
